<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add New Post</title>
</head>

<body>
    <form method="post" action="/posts">
        <label for="username">Username:</label><br><br>
        <input name="username" type="text"><br><br>
        <label for="content">Content:</label><br><br>
        <input name="content" type="text"><br><br>
        <button>submit</button>
    </form>
</body>

</html>